.cproject
.project
.settings
.wrmakefile
Debug/*
.metadata
.metadata/*
build.properties
build.xml

#compiled object files
*.slo
*.lo
*.o

#Compiled Dynamic libs
*.so
*.dylib

#compiled static libraries
*.lai
*.la
*.a
/Debug/
